html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

#root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}
